<nav class="navbar">
  <div class="container">
    <span class="navbar-brand mb-0 h1">Navbar</span>

    <div class="input-group rounded">
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
        aria-describedby="search-addon" />
      <span class="input-group-text border-3" id="search-addon">
        <button class="buttonSearch">
          <i class="search">🔎</i>
        </button>
      </span>
    </div>
    <img class="img" src="https://via.placeholder.com/40x40" alt="test">
  </div>
</nav>

<div class="container buttonContainer">
  <button type="button" class="btn ">Musica</button>
  <button type="button" class="btn">Pop</button>
  <button type="button" class="btn ">Comedia</button>
  <button type="button" class="btn ">Filme</button>
  <button type="button" class="btn ">Noticias</button>
  <button type="button" class="btn">tv</button>
  <button type="button" class="btn ">Jornal</button>
  <button type="button" class="btn ">Jogos</button>
  <button type="button" class="btn ">Assistidos</button>
  <button type="button" class="btn">Entreternimento</button>
  <button type="button" class="btn ">Academia</button>
  <button type="button" class="btn ">Mais...</button>
</div>
